<h1>Restaurant name: <%= @restaurant.name %></h1>
<p>Restaurant category: <%= @restaurant.category %></p>


<p>
    <%#= link_to "Edit", "/restaurants/2/edit" %>
    <%#= link_to "Edit", edit_restaurant_path(@restaurant.id) %>
    <%= link_to "Edit", edit_restaurant_path(@restaurant) %>
</p>

<p>
    <%= link_to "Destroy",
        restaurant_path(@restaurant),
        data: {turbo_method: :delete,
               turbo_confirm: "Do you want to delete #{@restaurant.name}?"} %>
</p>

<p>
    <%= link_to "Go to index", restaurants_path %>
</p>

<p>
    <%= link_to "Make a review", new_restaurant_review_path(@restaurant) %>
</p>
